.navbar {
  background-color: #1976d2;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;

  width:86vw;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.navbar-user {
  font-size: 14px;
  background-color: #1565c0;
  padding: 5px 10px;
  border-radius: 4px;
} 

