 .sidebar {
  width: 200px;
  background-color: #e0e0e0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  padding: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: 0.2s;
  color: black;
}

.sidebar button:hover {
  background-color: #d1d1d1;
} 



